div {
    color: rgb(207, 209, 55);
    width: 200px;
    height: 200px;
    background-color: red;
    border: 1px solid black;
}

#div1,
.a {
    width: 200px;
    background-color: yellow;
    width: 200px;
    height: 200px;
}

.redText {
    color: red !important;
    overflow-y: scroll;
}